{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
        <div class="col-md-12 imagem-top">

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h2 class="panel-title"></h2>
                    </div>
                    <div class="col-md-12 iniciar-sesion">  
<p>La contraseña para este usuario ya ha sido solicitada para las proximas 24 horas.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
