<div class="row-fluid">
     <div class="col-lg-5">
<td class="table-condensed" objectid="{{object.id}}">
    {%if(object.getMensaje)%}
        {{object.getMensaje|truncate(85)}}  
    {%endif%}
</td>
</div></div>