<div class="row-fluid">
     <div class="col-lg-5">
         <td><strong>Fecha Creación</strong></td>
<td class="table-condensed" objectid="{{object.id}}">
    {%if(object.getCreatedAt)%}
        {{object.getCreatedAt|localizeddate('none', 'none', 'es', null, " dd  'de'  MMMM Y  hh:mm aaa")}}  
    {%endif%}
</td>
</div></div>