<a href="{{url('ito_admin_homepage', {'_locale': 'en'})}}">
    en
</a>
<a href="{{url('ito_admin_homepage', {'_locale': 'es'})}}">
    es
</a>
<a href="{{url('ito_admin_homepage', {'_locale': 'fr'})}}">
    fr
</a>

{{translated_hello}}