        <footer>
                <div class="logo-tolima">
                    <img src="{{asset('bundles/webappfrontend/images/TVD.png')}}" alt="logo tolima digital"/>
                </div>
                <div class="contador">
                {{visitas()}}
                </div>
            </footer>
