<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{object.getId}}">
    {%if(object.getPicture)%}
        <img src="{{object.getWebPathPicture}}" alt="" width="100px"/>
    {%else%}
        Foto no definida
    {%endif%}
</td>
