<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{object.id}}">
    {%if(object.getFoto)%}
        <img src="{{asset('uploads/usuarios/'~object.getFoto)}}" alt="" width="100px"/>
    {%endif%}
</td>
